#body
{
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(49, 87, 119);
    font-size: 16px;
    margin: 0;

}
#container
{
    width: 70%;
    padding: 1em;
    text-align: center ;
    border: 1px solid #ddd;

}
#container h1
{
    font-size: 20px;
}